opencv-python
numpy
customtkinter
Pillow
pygame
ultralytics
supervision
python-telegram-bot
scipy
openai
requests
scikit-image
albumentations
aiohttp
CTkMessagebox
onnxruntime
onnx
optuna
joblib
scikit-learn
cryptography